# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.env

# Database
database/*.db

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Ollama models cache
*.bin

# HuggingFace cache
.cache/